blockquote{
margin:0;
margin-bottom:.85em;
padding:0 15px;
border-left:4px solid #e5e5e5;
color:var(--fg);
background-color:var(--quote-border);
border-top: 0;
border-bottom: 0;
}.markdown-section

blockquote:first-child
{
margin-top:0
}.markdown-section

blockquote:last-child{
margin-bottom:0
}.markdown-section

