blockquote{
margin:0;
margin-bottom:.85em;
padding:0 15px;
border-left:4px solid var(--quote-border);
border-top: 0px;
border-bottom: 0px;
color:var(--fg);
background-color:var(--bg);
}.markdown-section

blockquote:first-child
{
margin-top:0
}.markdown-section

blockquote:last-child{
margin-bottom:0
}.markdown-section

